@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --primary-color: #11172d;
    --secondary-color: #cde0dc;
    --accent1-color: #f8ffd6;
    --accent2-color: #75a99c;

    --heading-font: 'Patrick Hand';
    --paragraph-font: 'Lato';

    --nav-background-color: #75a99c;
    --nav-link-color: #11172d;
    --nav-hover-link-color: #11172d;
    --nav-hover-background-color: #cde0dc;
}

header {
    border: 3px solid var(--accent2-color);
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 3fr;
    padding: 10px;
    background-color: var(--accent1-color)
}

.head-img {
    grid-row: 1/4;
}

.headnav {
    align-items: center;
    justify-content: space-around;
    grid-row: 2/3;
}

div.hero {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid black;
    position: relative;
    width: 100%;
}

div.hero img {
    display: block;
    width: 100%;
    height: auto;
}

div.hero h1 {
    position: absolute;
    text-align: center;
    top: 10px;
    margin: auto;
	background: rgba(200, 200, 200, .5);
    width: 100%;
}

div.hero article {
	position: absolute;
	background: rgba(200, 200, 200, .5);
    bottom: 10px;
    width: 100%;
}

div.hero article img {
    float: right;
    height: auto;
    width: 25%;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h2, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

p {
    padding: 5px;
    font-family: var(--paragraph-font);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 3px solid var(--accent2-color);
    align-items: center;
}

.history {
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid var(--primary-color);
    display: grid;
}

.history h2 {
    justify-self: center;
    align-self: center;
}

.history p {
    justify-self: center;
    align-self: center;
}

.adventure {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid var(--primary-color);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.adventure h2 {
    grid-area: 1/1/2/6;
    justify-self: center;
    align-self: center;
}

.adventure img {
    grid-row: 2/3;
    max-width: 90%;
    height: auto;
    align-self: center;
    justify-self: center;
    padding: 5px;
}

figure {
    display: flex;
    flex-flow: column;
    margin: auto;
    padding: 5px;
}

figcaption {
    background-color: var(--primary-color);
    color: white;
    padding: 2px;
    text-align: center;
    font: italic smaller var(--paragraph-font);
    width: 90%;
    align-self: center;
}

.sociallinks {
    align-items: center;
    justify-content: center;
}

.team {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid var(--primary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.team h1 {
    grid-area: 1/1/2/4;
    justify-self: center;
    align-self: center;
}

.team img {
    grid-row: 2/3;
    max-width: 90%;
    height: auto;
    align-self: center;
    justify-self: center;
    padding: 5px;
}

.maparea {
    border: 3px solid var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.address {
align-self: center;
justify-self: center;
}

.map {
    align-self: center;
    justify-self: right;
    border: none;
    height: 100%;
}

.address h2 {
    text-align: left;
}

.address ul {
    list-style-type: none;
}

.address li {
    margin: 1rem 0;
}

.address p {
    text-align: left;
    font-weight: bold;
}

form {
    background: var(--secondary-color);
    margin: 15px auto;
    border: 3px solid var(--primary-color);
    padding: 1rem;
    display: grid;
    border-radius: 1rem;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: .5rem;
    padding: 1rem;
}

legend {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
}

label,
input,
button,
textarea {
    font-family: var(--paragraph-font);
}

label {
    text-align: left;
    padding-right: .5rem;
}

.message-purpose {
    text-align: left;
}

legend {
    text-align: center;
}

input,
textarea {
    padding: .5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-top: 10px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: fit-content;
    justify-self: center;
}

button:hover {
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.form-item {
    display: grid;
    align-items: center;
}

.texts {
    width: 100%;
}

.user-info,
.message-purpose,
.messagebox {
    border: none;
    display: block;
}

.user-info {
    grid-template-columns: 1fr 1fr;
}

.trips {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid var(--primary-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr 1fr;
    position: relative;
}

.trips h1 {
    grid-area: 1/1/2/2;
    justify-self: center;
    align-self: center;
}

.trips img {
    grid-row: 2/4;
    max-width: 90%;
    height: auto;
    align-self: center;
    justify-self: center;
    padding: 5px;
}

.trips-action {
    grid-area: 1/2/3/3;
    border-bottom: 3px solid var(--primary-color);
    border-left: 3px solid var(--primary-color);
    display: block;
    text-align: center;
    background: var(--secondary-color);
}

.trips-action h2 {
    text-align: center;
    background: rgba(200, 200, 200, .5);
    padding: 20px;
}