* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', sans-serif
}

header {
    width: 500px;
    margin: 0 auto;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    text-align: center;
    color: darkblue;
}

form {
    background: lightgrey;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: grid;
    border-radius: .5rem;
    width: 500px;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    border: none;
    margin: .5rem;
    padding: 1rem;
    align-items: left;
}

label,
input,
button,
select,
textarea {
    font-family: 'Trebuchet MS', sans-serif;
}

label {
    text-align: left;
    padding-right: .5rem;
}

input,
select,
textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    font-size: 1.1rem;
    background-color: darkblue;
    color: white;
}

button:hover {
    background-color: lightblue;
    color: black;
}

.form-item {
    display: grid;
    align-items: center;
}